.overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: pointer;
}

.content {
  margin: 15% auto;
  background-color: white;
  border-radius: 0.25rem;
  width: 95vw;
  padding: 2rem;
  position: relative;
}
.small {
  margin: 15% auto;
  background-color: white;
  border-radius: 0.25rem;
  width: 50vw;
  padding: 2rem;
  position: relative;
}

.modalButtonArea {
  border-top: 4px solid #e4e4e4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.modalText {
  font-family: Archivo;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
